server:
  port: ${PORT:8081}

spring:
  application:
    name: user-service
  datasource:
    # Local pe 'localhost' aur Cloud pe Railway ka URL auto-pick hoga
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/ecoride_user_db}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:sourabh@2003}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      # Local/Docker registry fallback ke saath
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}